@model List<Category>
@section Title {
    Categories
}
@section SubTitle {
  Create
}
@section button {
    <a asp-controller="Categories" asp-action="Create" class="btn btn-primary">Create</a>
}
<table class="table table-sm">
    <thead>
        <tr>
            <th style="width: 10px">#</th>
            <th>Name</th>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>

       @if(!Model.Any())
        {
        /*<div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            <h5><i class="icon fas fa-ban"></i> Alert!</h5>
            Danger alert preview. This alert is dismissable. A wonderful serenity has taken possession of my
            entire
            soul, like these sweet mornings of spring which I enjoy with my whole heart.
        </div>*/
        }
        else{
        @foreach (var item in Model)

        {
            <tr>

                <td>@item.Id </td>
                    <td>@item.Name </td>

                    <td>
                        <a asp-controller="Categories" asp-action="Edit" class="btn btn-primary"
                           asp-route-id="@item.Id">Edit</a>
                        <a asp-controller="Categories" asp-action="Details" class="btn btn-primary"
                           asp-route-id="@item.Id">Details</a>
                        <a asp-controller="Categories" asp-action="Delete" class="btn btn-primary"
                           asp-route-id="@item.Id">Delete</a>
                    </td>
                    
               

            </tr>


        }
        }
  
      
 
 
    </tbody>
</table>